# Workflow that checks the bootstrap, clean_up and add_service scripts in this repo produce valid code.

name: Test Scripts

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install zsh
        run: sudo apt install zsh
      - name: Set up Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v3.9.0
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
        with:
          gradle-home-cache-cleanup: true
      - name: Run boostrap script
        shell: zsh {0}
        run: ./.creek/bootstrap.sh "some-User-name/a_Nother-REpo_name" "some-User-name"
      - name: Check compiles & runs
        run: ./gradlew static test
      - name: Add service
        shell: zsh {0}
        run: ./.creek/add_service.sh first-service
      - name: Check compiles & runs
        run: ./gradlew static test
      - name: Add 2nd service
        shell: zsh {0}
        run: ./.creek/add_service.sh second-service
      - name: Check compiles & runs
        run: ./gradlew static test
