# Workflow that checks the bootstrap, clean_up and add_service scripts in this repo produce valid code.

name: Test Scripts

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Install zsh
        run: sudo apt install zsh
      - name: Set up Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v3.9.0
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@8baac4c8ef753599f92eeb509c246d09d6250fa6 # v3.3.0
        with:
          gradle-home-cache-cleanup: true
      - name: Run boostrap script
        shell: zsh {0}
        run: ./.creek/bootstrap.sh "some-User-name/a_Nother-REpo_name" "some-User-name"
      - name: Check compiles & runs
        run: ./gradlew static test
      - name: Add service
        shell: zsh {0}
        run: ./.creek/add_service.sh first-service
      - name: Check compiles & runs
        run: ./gradlew static test
      - name: Add 2nd service
        shell: zsh {0}
        run: ./.creek/add_service.sh second-service
      - name: Check compiles & runs
        run: ./gradlew static test
